ssl_certificate     /etc/letsencrypt/live/${VISIONE_SERVER_NAME}/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/${VISIONE_SERVER_NAME}/privkey.pem;
# ssl_protocols       TLSv1.2 TLSv1.3;
# ssl_ciphers         ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
# ssl_dhparam         /etc/nginx/ssl/dhparam.pem;
# ssl_session_cache   shared:SSL:10m;
# ssl_prefer_server_ciphers off;