@charset "UTF-8";
body {
  overflow: auto;
  font-size: 12px;


}

.containerGrid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  1fr 10fr 0fr;
}

.headerGrid {
  display: grid;
  grid-template-columns: 90px 45px 70px 130px 4fr 4fr 1fr;
  /* Dimensioni delle colonne */
  grid-gap: 10px;
  height: 150px;
}

.headerItem {
  padding: 5px;
}

.sidebarGrid {
  border: 0px solid lightgrey;
  width: 310px;
  overflow-y: auto;
  padding: 5px;
  align-items: center;
}

.footerGrid {
  border-top: 0px solid lightgrey;
}

.avsGrid {
  border-top: 0px solid lightgrey;
}

.bodyGrid {
  display: grid;
  grid-template-columns: 1fr 4.2fr 0.1fr;
  overflow: hidden;

}

.contentGrid {
  overflow-y: auto;
  overflow-x: auto;
  border-left: 0px solid green;
}


.contentGrid-item {
  background-color: #f1f1f1;
  padding: 20px;
}

.sticky-row {
  position: sticky;
  top: 0;
  z-index: 1;
  overflow: hidden;
  grid-column: 1 / -1; /* Occupa tutte le colonne */
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-row {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 1); /* Opacity set to 0.5 (adjust as needed) */
  pointer-events: all; /* Allow interaction with elements beneath the overlay */
  z-index: 2; /* Ensure the overlay is on top */
}

.hideColumn {
  display: none;
}

.ui-autocomplete { position: absolute; cursor: default;z-index:30 !important;}

.vline {
    border-left: 2px solid grey;
    height: 450px;
}

.myalign{
	text-align:center;
}
.with-margin {
  margin-bottom: 5px;
}
.top5 { 
	margin-top:5px; 
}
.top7 { 
	margin-top:7px; 
}
.hline {
    border-bottom: 2px solid grey;
}

.myborder {   border-width: 5px;   border-color: red;   border-style: solid; }

.myimg-thumbnail{
	padding: 0.1rem;
	background-color: #fff;
	border: 3px solid #dee2e6;
	border-radius: 0.25rem;
	width: 145px;
}

.thumbnailButtons{
	background-color: #fff;
	width: 200px;
}

.myrow{
	margin-right:0%;
	margin-left:0%;
	padding-bottom: 8px;
}
.mycol{
	padding-right:5px;
	padding-left:0px;
}
.myimg{
	width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    border-style: none;
}


#overlay0 {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.5);
  z-index: 2;
  cursor: pointer;
}

#text0 {
  position: relative;
  top: 35%;
  left: 50%;
  font-size: 60px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#overlay1 {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.5);
  z-index: 2;
  cursor: pointer;
}

#text1 {
  position: relative;
  top: 35%;
  left: 50%;
  font-size: 60px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

input.checkboxAvs {
    width : 16px;
    height : 16px;
}

.app_page1 {
  margin: 0;
  overflow: hidden;
  height:100%;
}

@media (min-width: 768px){
  #left {
    position: absolute;
    top:430px;
    bottom: 0;
    left: 0;
    width: 80%;
    overflow-y: scroll; 
  }

  #middle {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0%;
    width: 0%;
    overflow-y: scroll; 
  }
  
  #right {
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    width: 10%;
  }
}

#left {
  background-color: #FC6E51;
  text-align: center;
  height:100%;
}

#middle{
  background-color: lightgreen;
  text-align: center;
  height:100%;
}

#right {
  height:100%;
  background-color: #4FC1E9;
  text-align: center;
}

h4{
  padding: 10px 0; 
}

.zoom {
  padding: 50px;
  transition: transform .2s;
  margin: 0 auto;
  padding: 0.1rem;
  background-color: #fff;
  width: 140px;
  height: 80px;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  }

/* Hide Play button + controls on iOS */
video::-webkit-media-controls {
    display:none !important;
}

.hline:after {
    display: block;
    border-bottom: 0.5px solid #3383FF;
    width: 100%;
}

.selection-area {
    background: rgba(46, 115, 252, 0.11);
    border: 2px solid rgba(98, 155, 255, 0.81);
    border-radius: 0.1em;
}

.container {
    user-select: none;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  text-align: right;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  background-color: #E0A800;
  
  color: #000000;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}

.task {
  font-weight: bold;
  font-size: x-large;
    background-image: linear-gradient(to right, #AA262A , #FBAC07);
  
  color: navy;
  vertical-align: bottom;
  padding: 4px;
  border-radius: 8px;
}

.radioTask {
	  font-weight: bold;
	  color: navy;
	  font-size: large;
}

.visioneLogo_bigger {
  position: absolute;
  left: 41vw;
  top: 6vw;
}

.visioneLogo_bigger img {
  width: 25vw;
}

.visionelogo {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 25vh; /* Imposta l'altezza della pagina intera */
}

.visioneLogo img {
  max-height: 40%;
  height: 30px;
}

.advanced {
  display: none;
}

#simplified0 {
  width: 25vw;
  min-width: 200px;
  padding-top: 5px;
  height: 40px;
  color: #A7090E;

}

#simplified1 {
  width: 25vw;
  min-width: 360px;
  height: 40px;
  color: #008b8b;
}

.simplifiedSearchBar {
  position: absolute;
  font-size: 12px;
  left: 35vw;
  top: 15vw;
  width: 35vw;
  height: 72px;
  padding: 2em;
  border-radius: 31px;
}

.speechinput {
  width: 25px;
  height: 25px;
  cursor:pointer;
  border: none;
  position: absolute;
  margin-left: 5px;
  outline: none;
  background: transparent;
}

.mytextarea {
  height: 300px;
  width: 100px;
}

 .textualquery0 {
  width: 25vw;
  margin:4px;
  padding: 10px;
  padding-right: 55px;
  padding-left: 30px;
  font-size:14px;
  border-radius: 16px;
  border-color: #A7070C;

 }

 .simplifiedTextual0 {
  width: 35vw;
  margin:4px;
  padding: 10px;
  padding-right: 55px;
  padding-left: 30px;

  font-size:14px;
  border-radius: 16px;
  border-color: #A7070C;

}

 .textualquery1 {
  width: 25vw;
  margin:4px;
  padding: 10px;
  padding-right: 55px;
  padding-left: 30px;
  font-size:14px;
  border-radius: 16px;
  border-color: #13a0a0;

 }

 .textualOptions0 {
  position:relative;
  top:40px;
  padding:15px 20px 10px 30px;
 }

 .textualOptions1 {
  position:relative;
  top:40px;
  padding:15px 20px 10px 30px;
 }

 .Icon-inside_Search {
  position:absolute;
 }

 .Icon-inside_Search i {
  position:absolute;
  left:0;
  top:5px;
  padding:15px 20px 0px 5px;
  color:green;
 }

 .Icon-inside {
  position:absolute;
 }

 .Icon-inside i {
  position:absolute;
  right:0;
  top:5px;
  padding:15px 20px 0px 5px;
  color:green;
 }

 .scene0 {
  color: #a41318;
  border-color: #a41318;
  border: 1px;
  border-style: solid;

  border-radius: 10px; 
  padding: 5px;
  margin-top: 5px;
 }

 .scene1 {
  color: #13a0a0;
  border-color: #13a0a0;
  border: 1px;
  border-style: solid;

  border-radius: 10px; 
  padding: 5px;
  margin-top: 5px;
 }

 #sceneDes0 {
  padding-left: 15px;
 }

 #sceneDes1 {
  padding-left: 15px;
 }

 .palette {
  display: grid;
  grid-template-columns: repeat(11, auto); /* Maximum 10+1 columns */
  grid-gap: 1px; /* Adjust the gap between grid cells as needed */
}

.palette img {
  margin: auto;
  width:24px;
}

 ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 12px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  font-size: 12px;
}

.gridcontainer {
  display: grid;
  grid-template-columns: repeat(11, auto); /* Maximum 10+1 columns */
  grid-gap: 1px; /* Adjust the gap between grid cells as needed */
}

.item {
  margin: auto;
}

.column-span-1 {
  grid-column: span 1;
}

.column-span-2 {
  grid-column: span 2;
}

.column-span-3 {
  grid-column: span 3;
}

.column-span-4 {
  grid-column: span 4;
}

.column-span-5 {
  grid-column: span 5;
}

.column-span-6 {
  grid-column: span 6;
}

.column-span-7 {
  grid-column: span 7;
}

.column-span-8 {
  grid-column: span 8;
}

.column-span-9 {
  grid-column: span 9;
}

.column-span-10 {
  grid-column: span 10;
}

.column-span-11 {
  grid-column: span 11;
}

.canvasClean {
  display: grid;
  grid-template-columns: 100px 60px 70px;
  /* Dimensioni delle colonne */
  grid-gap: 1px;
  vertical-align: middle;
}

.canvasCleanItem {
  padding: 1px;
}

.colorCheckbox {
  background: linear-gradient(to right, #FF0000 0%, #00FF00 100%); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}

.simreorder {
  margin-top: 0px;
  font-size: larger; 
  font-weight: bold;
} 

#advancedMode {
  padding-top: 10px;

  font-size: larger; 
  font-weight: bold;
}

.advancedToggle {
  padding-top: 10px;
}

#newsession {

  border-radius: 10px;
}

#qbe {
  padding-top: 30px;
}