@charset "UTF-8";
.qbeGrid {
  display: grid;
  grid-template-columns: 6fr 8fr 1fr;
  padding-top: 10px;
  /* Dimensioni delle colonne */

}

.qbeItem {
  padding: 0px;
  align-self: end; /* Allinea gli elementi in basso */
}

.column-span-1 {
  grid-column: span 1;
}

.column-span-2 {
  grid-column: span 2;
}

.column-span-3 {
  grid-column: span 3;
}

#qbe {
  padding: px;
}