# handles requests coming from outside
server {
	listen 80 default_server;
    server_name  _;

	### Static File Routing

	location ^~ /videos      { proxy_pass ${VISIONE_VIDEOS_URL}; }
	location ^~ /videos/tiny { proxy_pass ${VISIONE_RESIZED_VIDEOS_URL}; }
	location ^~ /frames      { proxy_pass ${VISIONE_FRAMES_URL}; }
	location ^~ /frames/tiny { proxy_pass ${VISIONE_RESIZED_FRAMES_URL}; }

	### Services Routing

	location ^~ /services                   { proxy_pass http://core:8080/services/VBSService; }

	# Routes for services that can be optionally hosted externally
	location ^~ /gem                        { proxy_pass ${VISIONE_GEM_URL}; }
	location ^~ /aladin                     { proxy_pass ${VISIONE_ALADIN_URL}; }
	location ^~ /clip-text-search           { proxy_pass ${VISIONE_CLIP_URL}; }
	location ^~ /clip-internal-search       { proxy_pass ${VISIONE_CLIP_INTERNAL_SEARCH_URL}; }
	location ^~ /clip-laion-text-search     { proxy_pass ${VISIONE_CLIP_LAION_URL}; }
	location ^~ /clip-laion-internal-search { proxy_pass ${VISIONE_CLIP_LAION_INTERNAL_SEARCH_URL}; }
	location ^~ /clip-datacomp-text-search     { proxy_pass ${VISIONE_CLIP_DATACOMP_URL}; }
	location ^~ /clip-datacomp-internal-search { proxy_pass ${VISIONE_CLIP_DATACOMP_INTERNAL_SEARCH_URL}; }
	location ^~ /clip2video-text-search     { proxy_pass ${VISIONE_CLIP2VIDEO_URL}; }
	location ^~ /clip2video-internal-search { proxy_pass ${VISIONE_CLIP2VIDEO_INTERNAL_SEARCH_URL}; }

	location / {
		root /usr/share/nginx/html;
		index  index.html index.htm;
	}
}

# handles requests raised from the container network
server {
	listen 80;
	listen [::]:80;

	server_name router;
	resolver 127.0.0.11 valid=30s;

	location ^~ /videos       { alias /data/resized-videos/medium/; }
	location ^~ /videos/tiny  { alias /data/resized-videos/tiny/; }
	location ^~ /frames       { alias /data/selected-frames/; }
	location ^~ /frames/tiny  { alias /data/thumbnails/; }

	location ^~ /gem                        { proxy_pass http://features-gem:5090; }
	location ^~ /aladin                     { proxy_pass http://features-aladin:5020; }
	location ^~ /clip-text-search           { proxy_pass http://features-clip-openai:5030/text-to-image-search; }
	location ^~ /clip-internal-search       { proxy_pass http://features-clip-openai:5030/internal-image-search; }
	location ^~ /clip-laion-text-search     { proxy_pass http://features-clip-laion:5030/text-to-image-search; }
	location ^~ /clip-laion-internal-search { proxy_pass http://features-clip-laion:5030/internal-image-search; }
	location ^~ /clip-datacomp-text-search     { proxy_pass http://features-clip-datacomp:5030/text-to-image-search; }
	location ^~ /clip-datacomp-internal-search { proxy_pass http://features-clip-datacomp:5030/internal-image-search; }
	location ^~ /clip2video-text-search     { proxy_pass http://features-clip2video:5010/text-to-image-search; }
	location ^~ /clip2video-internal-search { proxy_pass http://features-clip2video:5010/internal-image-search; }

	location / {
		root /usr/share/nginx/html;
		index  index.html index.htm;
	}
}