# handles requests coming from outside
server {
	listen 80 default_server;
    server_name  _;

	### Static File Routing

	location ^~ /videos      { proxy_pass ${VISIONE_VIDEOS_URL}; }
	location ^~ /videos/tiny { proxy_pass ${VISIONE_RESIZED_VIDEOS_URL}; }
	location ^~ /frames      { proxy_pass ${VISIONE_FRAMES_URL}; }
	location ^~ /frames/tiny { proxy_pass ${VISIONE_RESIZED_FRAMES_URL}; }

	### Services Routing

	location ^~ /services                      { proxy_pass http://core:8080/services/VBSService; }

	# Routes for services that can be optionally hosted externally
	location ^~ /gem                           { proxy_pass ${VISIONE_GEM_URL};                           }
	location ^~ /aladin                        { proxy_pass ${VISIONE_ALADIN_URL};                        }
	location ^~ /clip-text-search              { proxy_pass ${VISIONE_CLIP_URL};                          }
	location ^~ /clip-internal-search          { proxy_pass ${VISIONE_CLIP_INTERNAL_SEARCH_URL};          }
	location ^~ /clip-laion-text-search        { proxy_pass ${VISIONE_CLIP_LAION_URL};                    }
	location ^~ /clip-laion-internal-search    { proxy_pass ${VISIONE_CLIP_LAION_INTERNAL_SEARCH_URL};    }
	location ^~ /clip-datacomp-text-search     { proxy_pass ${VISIONE_CLIP_DATACOMP_URL};                 }
	location ^~ /clip-datacomp-internal-search { proxy_pass ${VISIONE_CLIP_DATACOMP_INTERNAL_SEARCH_URL}; }
	location ^~ /clip2video-text-search        { proxy_pass ${VISIONE_CLIP2VIDEO_URL};                    }
	location ^~ /clip2video-internal-search    { proxy_pass ${VISIONE_CLIP2VIDEO_INTERNAL_SEARCH_URL};    }

	location / {
		root /usr/share/nginx/html;
		index  index.html index.htm;
	}
}

# handles requests raised from the container network
server {
	listen 80;
	listen [::]:80;

	server_name router;
	resolver 127.0.0.11 valid=30s;

	location ^~ /videos       { alias /data/resized-videos/medium/; }
	location ^~ /videos/tiny  { alias /data/resized-videos/tiny/; }
	location ^~ /frames       { alias /data/selected-frames/; }
	location ^~ /frames/tiny  { alias /data/thumbnails/; }

	# HACK: use variable in proxy_pass to avoid nginx exit on startup if the service is not available (disabled)
	location ^~ /gem                           { set $url "http://features-gem:5090";                                 proxy_pass $url; }
	location ^~ /aladin                        { set $url "http://features-aladin:5020";                              proxy_pass $url; }
	location ^~ /clip-text-search              { set $url "http://features-clip-openai:5030/text-to-image-search";    proxy_pass $url; }
	location ^~ /clip-internal-search          { set $url "http://features-clip-openai:5030/internal-image-search";   proxy_pass $url; }
	location ^~ /clip-laion-text-search        { set $url "http://features-clip-laion:5030/text-to-image-search";     proxy_pass $url; }
	location ^~ /clip-laion-internal-search    { set $url "http://features-clip-laion:5030/internal-image-search";    proxy_pass $url; }
	location ^~ /clip-datacomp-text-search     { set $url "http://features-clip-datacomp:5030/text-to-image-search";  proxy_pass $url; }
	location ^~ /clip-datacomp-internal-search { set $url "http://features-clip-datacomp:5030/internal-image-search"; proxy_pass $url; }
	location ^~ /clip2video-text-search        { set $url "http://features-clip2video:5010/text-to-image-search";     proxy_pass $url; }
	location ^~ /clip2video-internal-search    { set $url "http://features-clip2video:5010/internal-image-search";    proxy_pass $url; }

	location / {
		root /usr/share/nginx/html;
		index  index.html index.htm;
	}
}